<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>golfWaze.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB986D062ECF2023003F87DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB986D132ECF2025003F87DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB986D1D2ECF2025003F87DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
